<!-- 디데이 -->
<div class="d-day area">
  <h2>D-51</h2>
</div>

<!-- 대선후보 지지율 -->
<div class="rating-chart area">
  <h2>2017.03.17 대선 후보 지지도 (%)</h2>
  <article>
    <span class="left-button btn">&#8249;</span>
    <div id="chartdiv"></div>
    <span class="right-button btn">&#8250;</span>
  </article>
</div>


<div class="comments area">
  <h2>후보에게 질문하기</h2>

  <div class="input-area">
    <!-- 페이스북 로그인 -->
    <div class="login-btn" id="user-widget">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <!-- 댓글 입력창-->
    <%= form_for :comment, remote: true do |f| %>
      <%= f.text_area :content, :class => "form-control", :rows => "2", :placeholder => "질문을 입력하세요" %>
      <% if current_user %>
        <%= f.submit "등록" %>
      <% else %>
        <%=link_to "로그인 후 이용해주세요.", "/auth/facebook", id: "sign_in" %>
      <% end %>
    <% end %>
  </div>

  <!-- 댓글 목록 -->
  <div class="comment-list" id="comments">
    <a href="#"><span id="like">호감순</span></a>
    <a href="#"><span id="new">최신순</span></a>
    <% @comments.each do |comment| %>
      <%= render partial: "comment", locals: { comment: comment } %>
    <% end %>
    <%= paginate @comments %>
  </div>
</div>
