<!-- 디데이 -->
<div class="d-day area">
  <h2>D-51</h2>
</div>

<!-- 대선후보 지지율 -->
<div class="rating-chart area">
  <h2><%= Date.today %> 대선 후보 지지도 (%)</h2>
  <article>
    <span class="left-button btn">&#8249;</span>
    <div id="chartdiv"></div>
    <span class="right-button btn">&#8250;</span>
  </article>
</div>


<div class="comments area">
  <h2>후보에게 질문하기</h2>

  <div class="input-area">
    <!-- 페이스북 로그인 -->
    <div class="login-btn" id="user-widget">
      <% if current_user %>
        <strong><%= current_user.name %>님</strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "페이스북으로 로그인하기", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <!-- 댓글 입력창-->
    <%= form_for :comment, remote: true do |f| %>
      <%= f.text_area :content, :class => "form-control", :id => "comment-content", :rows => "2", :maxlength => "300", :placeholder => "질문을 입력하세요" %>
      <span id="counter"> 0/300</span>
      <% if current_user %>
        <%= f.submit "등록", :class => "btn btn-info" %>
      <% else %>
        <button class="btn btn-info">등록</button>
      <% end %>
    <% end %>
  </div>

  <!-- 댓글 목록 -->
  <div class="comment-list" id="comments">
    <div class="sort-group">
      <%= link_to "호감순", comment_best_path(sort: "best"), :class => "sort", :method => :post, remote: true %>
      <%= link_to "최신순", comment_latest_path(sort: "latest"), :class => "sort on", :method => :post, remote: true %>
    </div>
    <div id="comments-js" >
      <%= render partial: "sort_by", locals: { comments: @comments } %>
    </div>
  </div>
</div>
